<ion-header>
  <ion-toolbar>
    <ion-title>Rechercher Restaurant</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card>
    <ion-header> <h2>Critère de recherche</h2></ion-header>
    <ion-grid>
     
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-input placeholder="Nom du restaurant" type="text" [(ngModel)]="researchInputName" ></ion-input>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-input placeholder="Note" type="number" min="0" max="10" [(ngModel)]="researchInputNote" ></ion-input>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-button (click)="Rechercher()" >Rechercher </ion-button>
          <ion-button (click)="clearFilter()" >clear </ion-button>
          <ion-button (click)="RechercherProche()" >Proche de moi </ion-button>
          <ion-range (ionChange)="onIonChange($event)"></ion-range>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid class="cards-container">
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let restaurant of displayRestaurant">
        <ion-card (click)="detailRestaurant(restaurant)" >
          <ion-thumbnail style="width:100%;height: 300px;">
            <ion-img class="card-img" src={{restaurant.imageUrl}} style="height: 100%;min-width: 100%;" ></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-subtitle>{{ calculRestaurantNote(restaurant) }}</ion-card-subtitle>
            <ion-card-title class="card-title">{{ restaurant.nom }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
