.card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-header{
    font-size: 17px;
}

.text-distance{
    width: 100%;
    text-align: center;
}
.ionSpinner{
    display: flex;
    width: 100;
    justify-content: center;  
}