.icon-right{
    padding-left: 60%;
}

.sizeIcon{
    width: 50px;
    font-size: 30px;
    margin-left: 1px;
}

.sizeText{
    font-size: large;
}
.edit-item-slider{
    margin:0;
}

.iconDelete{
    background-color: red !important;
}