<ion-header>

</ion-header>

<ion-content>
  <ion-grid class="no-padding">
    <img class="detail-img" src={{restaurant.imageUrl}} style="height: 320px;width: 100%;object-fit: cover;">
    <ion-button (click)="retour()" class="back-button" color="dark">
      <ion-icon class="test" name="arrow-back-outline"></ion-icon>
      <div class="text-container">
        Retour
      </div>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="9">
          <h2 class="restaurant-title">{{ restaurant.nom }}</h2>
        </ion-col >
          
        <ion-col size="12" size-sm="12" size-md="3">
          <div *ngIf="!restaurant.nombreNote == 0" class="restaurant-note plus_button_margin">
            <span>{{ calculRestaurantNote(restaurant) | number: '1.2' }} / 10 </span>
            <ion-icon  class="plus_button_margin" (click)="displayNoteAlert()" name="add-circle-outline" size="large"></ion-icon>   
          </div>
          <div *ngIf="restaurant.nombreNote == 0" class="restaurant-note plus_button_margin">
            <span> Pas de note disponible pour l'instant</span>
            <ion-icon  class="plus_button_margin" (click)="displayNoteAlert()" name="add-circle-outline" size="large"></ion-icon>   
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <p class="restaurant-description">{{ restaurant.description }}</p>

    <ion-grid class="no-padding" *ngIf="!hideMap">
      <ion-row>
        <ion-col size="12" class="no-padding">
          <capacitor-google-map id="map" ></capacitor-google-map>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>