<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter un restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="{{deviceCompatible ? '6' : '12' }}">
        <form (ngSubmit)="submitRestaurant()"  [formGroup]="formGroup">
          <ion-item class="margin_item">
            <ion-input type="text" placeholder="Nom du Restaurant" [(ngModel)]="restaurant.nom"  formControlName="nom"></ion-input>
          </ion-item>

          <ion-item class="margin_item">
            <ion-input type="text" placeholder="Ville" [(ngModel)]="restaurant.ville" formControlName="ville"></ion-input>
          </ion-item>

          <ion-item class="margin_item">
            <ion-input type="number" placeholder="Code Postal" [(ngModel)]="restaurant.codePostal" formControlName="codePostal"></ion-input>
          </ion-item>
          
          <ion-item class="margin_item">
            <ion-input type="text" (keyup)="SwitchDisplayForImg()" placeholder="URL de l'image" [(ngModel)]="restaurant.imageUrl" formControlName="image"></ion-input>
          </ion-item>
          
          <ion-item class="margin_item">
            <ion-input type="text" placeholder="Description" [(ngModel)]="restaurant.description" formControlName="description"></ion-input>
          </ion-item>
        
          <ion-button type="submit" class="margin_item">
            <ion-label>Valider &nbsp;</ion-label>
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-button>
        </form>
      </ion-col>

      <ion-col size="6" *ngIf="deviceCompatible">
        <ion-grid class="Title_Previ">
          <ion-card>
            <h1>Prévisualisation</h1>
          </ion-card>
        </ion-grid>
       <ion-card>
        
          <ion-img *ngIf="SwitchDisplayImg" class="card-img" src="https://image.shutterstock.com/image-vector/logo-template-monogram-element-flourish-600w-1700746879.jpg"></ion-img>
          <ion-img *ngIf="!SwitchDisplayImg" class="card-img" src={{restaurant.imageUrl}}></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ restaurant.note }}</ion-card-subtitle>
            <ion-card-title>{{ restaurant.nom }}</ion-card-title>
          </ion-card-header>
       </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
