<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GeoResto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="cards-container">
    <ion-row>
      <ion-col size="12" size-sm="9" size-md="6" size-lg="4" *ngFor="let restaurant of restaurants">
        <ion-card (click)="detailRestaurant(restaurant)" >
          <ion-img class="card-img" src={{restaurant.imageUrl}}></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ restaurant.note }}</ion-card-subtitle>
            <ion-card-title>{{ restaurant.nom }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    
      
  </ion-grid>
</ion-content>
 